@model JobTrackerApp.Models.JobApplicationModels.JobApplicationDetail

<div>
    <h4>JobApplicationDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.JobApplicationId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JobApplicationId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JobTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JobTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompanyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApplicationMethod)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApplicationMethod)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApplicatonMaterials)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApplicatonMaterials)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContactPerson)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContactPerson)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContactInformation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContactInformation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApplicationNotes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApplicationNotes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Category)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApplicationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApplicationDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.JobApplicationId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
